<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- log4netのセクション定義 -->
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <!-- EntityFrameworkのセクション定義 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>

  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
  
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />

    <!-- フォーム認証有効化 -->
    <authentication mode="Forms">
      <forms cookieless="UseCookies" timeout="1" slidingExpiration="true" loginUrl="Home/Index" />
    </authentication>

    <!-- 認証ユーザー以外アクセス不可 -->
    <authorization>
      <deny users="?"/>
    </authorization>

    <!-- セッション -->
    <sessionState timeout="5" />
  </system.web>

  <!-- アクセス可 -->
  <location path="Services/AuthenticationService.svc">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.2.0" newVersion="5.2.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <!-- log4net -->
  <log4net>
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="Log\log.txt" />
      <param name="AppendToFile" value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%d [%t] %5p (%C:%M:%L) %m%n" />
      </layout>
    </appender>

    <root>
      <level value="ALL" />
      <appender-ref ref="RollingFileAppender" />
    </root>
  </log4net>

  <!-- EntityFramework -->
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>

  <!-- データベース接続設定 -->
  <connectionStrings>
    <add name="Default" providerName="System.Data.SqlClient"
         connectionString="data source=localhost\sqlexpress;initial catalog=ERP01;User ID=erp01;Password=erp01" />
  </connectionStrings>

  <!-- Web拡張 -->
  <system.web.extensions>
    <scripting>
      <webServices>
        <!-- 認証サービス有効化 -->
        <authenticationService enabled="true" requireSSL="true" />
      </webServices>
    </scripting>
  </system.web.extensions>

  <system.serviceModel>
    <!-- プロトコルマッピング -->
    <protocolMapping>
      <add scheme="http" binding="customBinding" bindingConfiguration="DefaultBinding" />
    </protocolMapping>

    <!-- Extensions -->
    <extensions>
      <behaviorExtensions>
        <!-- メッセージインスペクタ -->
        <add name="customMessageInspector" type="Common.Wcf.CustomElement, Common" />
        <!-- サービスビヘイビア -->
        <add name="customServiceBehavior" type="Common.Wcf.CustomServiceBehaviorElement, Common" />
      </behaviorExtensions>
    </extensions>

    <!-- サービス -->
    <services>
      <!-- 認証サービス -->
      <service name="System.Web.ApplicationServices.AuthenticationService">
        <endpoint contract="System.Web.ApplicationServices.AuthenticationService"
                  binding="basicHttpBinding" bindingConfiguration="userHttps"
                  bindingNamespace="http://asp.net/ApplicationServices/v200" />
      </service>
    </services>

    <!-- バインディング -->
    <bindings>
      <!-- HTTPバインディング -->
      <basicHttpBinding>
        <binding name="userHttps">
          <security mode="Transport" />
        </binding>
      </basicHttpBinding>
      <!-- カスタムバインディング -->
      <customBinding>
        <!-- GZip圧縮有りバインディング -->
        <binding name="DefaultBinding">
          <binaryMessageEncoding compressionFormat="GZip" />
          <httpTransport />
        </binding>
      </customBinding>
    </bindings>

    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <customServiceBehavior />
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>

      <endpointBehaviors>
        <behavior name="">
          <!-- メッセージインスペクタ -->
          <customMessageInspector />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>

</configuration>