<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <!-- log4netのセクション定義 -->
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <!-- EntityFrameworkのセクション定義 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- アプリケーションのセクション定義 -->
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Common.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>

  <!-- Runtimeバージョン -->
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>

  <!-- DLLの参照フォルダ -->
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="lib;lib\common"/>
    </assemblyBinding>
  </runtime>

  <!-- log4net -->
  <log4net configSource="config\log4net.config"/>

  <!-- EntityFramework -->
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>

  <!-- データベース接続設定 -->
  <connectionStrings>
    <add name="Default" providerName="System.Data.SqlClient"
         connectionString="data source=localhost\sqlexpress;initial catalog=ERP01;User ID=erp01;Password=erp01" />
  </connectionStrings>

  <appSettings>
    <!-- ベースアドレス -->
    <add key="baseAddress" value="http://localhost:8800/Services/" />
  </appSettings>

  <!-- サービスモデル -->
  <system.serviceModel>
    <bindings>
      <!-- 認証用バインディング -->
      <basicHttpBinding>
        <binding name="Binding_AuthenticationService" allowCookies="true">
          <security mode="Transport" />
        </binding>
      </basicHttpBinding>
      <!-- デフォルトバインディング -->
      <customBinding>
        <binding name="DefaultBinding" sendTimeout="00:05:00">
          <binaryMessageEncoding compressionFormat="GZip"/>
          <httpTransport allowCookies="true" />
        </binding>
      </customBinding>
    </bindings>

    <client>
      <!-- 認証サービス -->
      <endpoint address="https://localhost:44300/Services/AuthenticationService.svc"
        binding="basicHttpBinding" bindingConfiguration="Binding_AuthenticationService"
        contract="Common.Service.IAuthenticationService" name="AuthenticationService" />
    </client>
  </system.serviceModel>

  <!-- アプリケーション設定 -->
  <applicationSettings>
    <Common.Properties.Settings>
      <setting name="DialogWaitTime" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="ServiceCall" serializeAs="String">
        <value>Remote</value>
      </setting>
    </Common.Properties.Settings>
  </applicationSettings>
</configuration>