<?xml version="1.0" encoding="utf-8"?>
<log4net>
  <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
    <param name="File" value="appLog.txt" />
    <param name="AppendToFile" value="true" />
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%d [%t] %5p (%C:%M:%L) %m%n" />
    </layout>
  </appender>

  <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
    <filter type="log4net.Filter.LevelRangeFilter">
      <param name="LevelMin" value="INFO" />
    </filter>
    <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%m%n" />
    </layout>
  </appender>

  <appender name="DebugConsoleAppender" type="Common.DebugConsoleAppender, Common"/>

  <root>
    <level value="ALL" />
    <appender-ref ref="RollingFileAppender" />
    <appender-ref ref="ConsoleAppender" />
    <appender-ref ref="DebugConsoleAppender" />
  </root>
</log4net>
